.title {
    color: white;
    font-weight: bold;
    text-shadow: 9px 14px 13px#000000;
}

.subtitle {
    color: white;
    font-weight: bold;
    text-shadow: 9px 14px 13px#000000;
}

.title-alternative {
    color: black;
    font-weight: bold;

}

.subtitle-alternative {
    color: black;
    font-weight: bold;
}
